<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThreeLevelHierarchy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DCD3C2A1E9758AF0048C09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCD3C411E9758AF0048C09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCD3C4C1E9758AF0048C09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
